<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="images/logo.png"
               label="JSONSchema to UML">
            <command
                  commandId="edu.uoc.som.jsonschematouml.ui.popup.handlers.ConvertToClassDiagram"
                  label="Generate Class diagram"
                  style="push"
                  tooltip="Generate Class diagram from a JSON Schema document">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="+">
                     </count>
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                           <and>
                              <adapt
                                    type="org.eclipse.core.resources.IFile">
                              </adapt>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="json">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.uoc.som.jsonschematouml.ui.handlers.ConvertToClassDiagram"
            id="edu.uoc.som.jsonschematouml.ui.popup.handlers.ConvertToClassDiagram"
            name="Generate Class diagram">
      </command>
   </extension>

</plugin>
